@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.img-resize-program {
    width: auto;
    height: 300px;
}
.img-resize-home {
    width: auto;
    height: 250px;
}
.img-resize-home1 {
    width: auto;
    height: 300px;
}